
<h1>Edit Library Item</h1>
 
<%= form_with(model: @item, local: true) do |f| %>
 
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
 
  <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        
        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control' %>
        
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
        
        <%= f.label :url, 'Optional URL' %>
        <%= f.text_field :url, class: 'form-control' %>
        
        <%= f.label :category %>
        <%= f.select :category, ["Book", "Podcast", "Video", "Journal", "Other"], {}, {class: 'form-control'}  %>
 </p> 
  <p>
    <%= f.submit "Update Libary Item", class: "btn btn-primary" %>
 </p>
 
<% end %>
 
