<!DOCTYPE html>
<html>
  <head>
    <title>AntiRacismLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    Welcome to the sign in page. 
  
  <p>
  
    
    <form action="users/sign_in">
        <button type="submit">Sign In</button>
    </form>
    or 
     <form action="users/sign_up">
        <button type="submit">Sign Up</button>
    </form>
    
    </p>
  </body>
</html>
